@charset "UTF-8";
.pageIncome .boxFilter .form-group{
  width: calc(20% - 10px);
}
.pageIncome .boxFilter .input-daterange{
  width: calc(40% - 10px);
}
.pagePay .boxFilter .form-group{
  width: calc(20% - 10px);
}
.pagePay .boxFilter .input-daterange{
  width: calc(40% - 10px);
}

/* 小屏幕（平板，大于等于 768px） */
@media (min-width: 768px) {

}

/* 中等屏幕（桌面显示器，大于等于 992px） */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media (min-width: 1200px) {


}